body{
    overflow: visible;
}


.list-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
  }
  
  .list-item {
    
    width: 100%;
    background: #fff;
    padding: 10px;
    margin-left: 50rem;
  }

  



  /* 📲 Tablet View (501px - 1024px) */
  @media screen and (min-width: 501px) and (max-width: 1024px) {
    .header{
        width: 100%;
    }
    .my-masonry-grid-2{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}



  /* 📲 Mobile View (501px - 1024px) */
@media screen and (min-width: 200px) and (max-width: 500px) {
   
    
    .masonry-grid_column{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-left: 10%;
    }
    .note-container{
        margin-left: 15rem;
        width: 30vw;
    }
}


 /* 📲 Tablet View (501px - 1024px) */
 @media screen and (min-width: 501px) and (max-width: 800px) {
   
    
    .masonry-grid_column{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-left: 10%;
        margin-right: 15rem;
    }
}